Source: dtbook-catalog
Section: text
Priority: optional
Maintainer: Christian Egli <christian.egli@sbs.ch>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://www.daisy.org/z3986/2005/dtbook-2005-3.dtd

Package: dtbook-catalog
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
